.text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0.5rem;
    margin: 1rem;
    font-size: 2rem;
    font-family: Signika-Light, sans-serif;
    color: var(--text-primary);
}

.selected {
    border-bottom: 0.1rem solid var(--quaternary);
}
