.self-portrait {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 1rem;
    border: var(--quaternary) solid 0.1rem;
}

.page-separator {
    display: flex;
    width: 50%;
    flex: 1;
    padding-top: 3rem;
    border-bottom: var(--quaternary) solid 0.1rem;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 12;
    font-family: Signika-Light, sans-serif;
    color: var(--text-primary);
}

.about-tagline {
    display: flex;
    flex: 8;
    padding: 5%;
    width: 50%;
}

img {
    width: 100%;
}
